<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png"  width="300" alt="cognitiveclass.ai logo"  />
</center>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction

Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones.

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage.

Therefore if we can determine if the first stage will land, we can determine the cost of a launch.

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

<a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01" target="_blank">Spacex DataSet</a>

### Store the dataset in database table

**it is highly recommended to manually load the table using the database console LOAD tool in DB2**.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload.png">

Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the  dataset, Next create a New Table, and then follow the steps on-screen instructions to load the data. Name the new table as follows:

**SPACEXDATASET**

**Follow these steps while using old DB2 UI which is having Open Console Screen**

**Note:While loading Spacex dataset, ensure that detect datatypes is disabled. Later click on the pencil icon(edit option).**

1.  Change the Date Format by manually typing DD-MM-YYYY and timestamp format as DD-MM-YYYY HH\:MM:SS.

    Here you should place the cursor at Date field and manually type as DD-MM-YYYY.

2.  Change the PAYLOAD_MASS\_\_KG\_  datatype  to INTEGER.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload2.png">

**Changes to be considered when having DB2 instance with the new UI having Go to UI screen**

*   Refer to this insruction in this <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sign%20up%20for%20IBM%20Cloud%20-%20Create%20Db2%20service%20instance%20-%20Get%20started%20with%20the%20Db2%20console/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01">link</a> for viewing  the new  Go to UI screen.

*   Later click on **Data link(below SQL)**  in the Go to UI screen  and click on **Load Data** tab.

*   Later browse for the downloaded spacex file.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/browsefile.png" width="800"/>

*   Once done select the schema andload the file.

 <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload3.png" width="800"/>

In [1]:
!pip install sqlalchemy==1.3.9
!pip install ibm_db_sa
!pip install ipython-sql

Collecting sqlalchemy==1.3.9
  Using cached SQLAlchemy-1.3.9-cp37-cp37m-win_amd64.whl
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.4.22
    Uninstalling SQLAlchemy-1.4.22:
      Successfully uninstalled SQLAlchemy-1.4.22
Successfully installed sqlalchemy-1.3.9
Requirement already satisfied: ibm_db_sa in c:\users\a_klebeko\appdata\local\continuum\anaconda3\lib\site-packages (0.3.6)
Requirement already satisfied: ibm-db>=2.0.0 in c:\users\a_klebeko\appdata\local\continuum\anaconda3\lib\site-packages (from ibm_db_sa) (3.0.4)
Requirement already satisfied: sqlalchemy>=0.7.3 in c:\users\a_klebeko\appdata\local\continuum\anaconda3\lib\site-packages (from ibm_db_sa) (1.3.9)
Requirement already satisfied: ipython-sql in c:\users\a_klebeko\appdata\local\continuum\anaconda3\lib\site-packages (0.4.0)
Requirement already satisfied: ipython>=1.0 in c:\users\a_klebeko\appdata\local\continuum\anaconda3\lib\site-packages (from ipython-sql) (7.6.1)
Requirement already satisfied: sqlparse in c:\users\a_klebeko\appdata\local\continuum\anaconda3\lib\site-packages (from ipython-sql) (0.3.1)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\a_klebeko\appdata\local\continuum\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\a_klebeko\appdata\local\continuum\anaconda3\lib\site-packages (from ipython-sql) (1.3.9)
Requirement already satisfied: prettytable<1 in c:\users\a_klebeko\appdata\local\continuum\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: six in c:\users\a_klebeko\appdata\local\continuum\anaconda3\lib\site-packages (from ipython-sql) (1.12.0)
Requirement already satisfied: traitlets>=4.2 in c:\users\a_klebeko\appdata\local\continuum\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: decorator in c:\users\a_klebeko\appdata\local\continuum\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (4.4.0)
Requirement already satisfied: jedi>=0.10 in c:\users\a_klebeko\appdata\local\continuum\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.17.2)
Requirement already satisfied: colorama in c:\users\a_klebeko\appdata\local\continuum\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.1)
Requirement already satisfied: backcall in c:\users\a_klebeko\appdata\local\continuum\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.0)
Requirement already satisfied: pickleshare in c:\users\a_klebeko\appdata\local\continuum\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in c:\users\a_klebeko\appdata\local\continuum\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.0.10)
Requirement already satisfied: setuptools>=18.5 in c:\users\a_klebeko\appdata\local\continuum\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (57.4.0)
Requirement already satisfied: pygments in c:\users\a_klebeko\appdata\local\continuum\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.4.2)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\a_klebeko\appdata\local\continuum\anaconda3\lib\site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in c:\users\a_klebeko\appdata\local\continuum\anaconda3\lib\site-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.1.7)

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [ ]:
%load_ext sql

**DB2 magic in case of old UI service credentials.**

In the next cell enter your db2 connection string. Recall you created Service Credentials for your Db2 instance before. From the **uri** field of your Db2 service credentials copy everything after db2:// (except the double quote at the end) and paste it in the cell below after ibm_db_sa://

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_edX/images/URI.jpg">

in the following format

**%sql ibm_db_sa://my-username:my-password\@my-hostname:my-port/my-db-name**

**DB2 magic in case of new UI service credentials.**

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/servicecredentials.png" width=600>  

*   Use the following format.

*   Add security=SSL at the end

**%sql ibm_db_sa://my-username:my-password\@my-hostname:my-port/my-db-name?security=SSL**

In [ ]:
%sql ibm_db_sa://

# Connection ot SQLite

https://sqliteonline.com/

Step 1. Import csv into SQLite

Step 2. Connect to SQLite OnLine

In [5]:
import sqlite3
from sqlite3 import Error

In [10]:
# create connection
def sql_connection():
    try:
        connection = sqlite3.connect('sqlite.db')
        return connection
    except Error as er:
        print(er)

In [11]:
# execute a query
def sql_execute(connection, query):
    # create a cursor
    cursor = connection.cursor()
    cursor.execute(query)
    connection.commit()

In [14]:
# fetch data
def sql_fetch(connection, select):
    # create a cursor
    cursor = connection.cursor()
    cursor.execute(select)
    for row in cursor.fetchall():
        print(row)

In [19]:
select_all = """
SELECT name FROM sqlite_schema
WHERE type = 'table'
ORDER BY name;
"""

In [31]:
select_col = """
SELECT *
FROM sqlite_schema
WHERE name = 'Spacex'
;
"""

In [32]:
# sql_execute(connection, query)
sql_fetch(sql_connection(), select_col)

('table', 'Spacex', 'Spacex', 3, "CREATE TABLE 'Spacex' ('Date' TEXT,'Time_(UTC)' TEXT,'Booster_Version' TEXT,'Launch_Site' TEXT,'Payload' TEXT,'PAYLOAD_MASS__KG_' INTEGER,'Orbit' TEXT,'Customer' TEXT,'Mission_Outcome' TEXT,'Landing__Outcome' TEXT)")

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

### Task 1

##### Display the names of the unique launch sites  in the space mission

In [35]:
sql_fetch(
    sql_connection(),
    """
    select distinct(Launch_Site)
    from Spacex
    """
)

('CCAFS LC-40',)
('VAFB SLC-4E',)
('KSC LC-39A',)
('CCAFS SLC-40',)

### Task 2

##### Display 5 records where launch sites begin with the string 'CCA'

In [37]:
sql_fetch(
    sql_connection(),
    """
    select *
    from Spacex
    where Launch_Site like ('CCA%')
    limit 5
    """
)

('04-06-2010', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)')
('08-12-2010', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)')
('22-05-2012', '07:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt')
('08-10-2012', '00:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')
('01-03-2013', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')

### Task 3

##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [40]:
sql_fetch(
    sql_connection(),
    """
    select Customer, sum(PAYLOAD_MASS__KG_)
    from Spacex
    where Customer = 'NASA (CRS)'
    """
)

('NASA (CRS)', 45596)

In [41]:
sql_fetch(
    sql_connection(),
    """
    select Customer, Booster_Version, sum(PAYLOAD_MASS__KG_)
    from Spacex
    where Customer = 'NASA (CRS)'
    group by Customer, Booster_Version
    """
)

('NASA (CRS)', 'F9 B4  B1039.2', 2647)
('NASA (CRS)', 'F9 B4 B1039.1', 3310)
('NASA (CRS)', 'F9 B4 B1045.2', 2697)
('NASA (CRS)', 'F9 B5 B1056.2 ', 2268)
('NASA (CRS)', 'F9 B5 B1058.4 ', 2972)
('NASA (CRS)', 'F9 B5 B1059.2', 1977)
('NASA (CRS)', 'F9 B5B1050', 2500)
('NASA (CRS)', 'F9 B5B1056.1 ', 2495)
('NASA (CRS)', 'F9 FT  B1035.2', 2205)
('NASA (CRS)', 'F9 FT B1021.1', 3136)
('NASA (CRS)', 'F9 FT B1025.1', 2257)
('NASA (CRS)', 'F9 FT B1031.1', 2490)
('NASA (CRS)', 'F9 FT B1035.1', 2708)
('NASA (CRS)', 'F9 v1.0  B0006', 500)
('NASA (CRS)', 'F9 v1.0  B0007', 677)
('NASA (CRS)', 'F9 v1.1', 2296)
('NASA (CRS)', 'F9 v1.1 B1010', 2216)
('NASA (CRS)', 'F9 v1.1 B1012', 2395)
('NASA (CRS)', 'F9 v1.1 B1015', 1898)
('NASA (CRS)', 'F9 v1.1 B1018', 1952)

### Task 4

##### Display average payload mass carried by booster version F9 v1.1

In [43]:
sql_fetch(
    sql_connection(),
    """
    select Booster_Version, avg(PAYLOAD_MASS__KG_)
    from Spacex
    where Booster_Version = 'F9 v1.1'
    """
)

('F9 v1.1', 2928.4)

### Task 5

##### List the date when the first successful landing outcome in ground pad was acheived.

*Hint:Use min function*

You cannot SELECT from a string. You need to use square brackets around the table/column name

In [138]:
sql_fetch(
    sql_connection(),
    """
    select date(substr(Date, 7) || "-" || substr(Date, 4, 2) || "-" || substr(Date, 1, 2)) as date_formated
    from Spacex
    where landing__outcome = 'Success (ground pad)'
    order by date_formated, [Time_(UTC)]
    limit 1
    """
)

('2015-12-22',)

In [139]:
sql_fetch(
    sql_connection(),
    """
    select min(date(substr(Date, 7) || "-" || substr(Date, 4, 2) || "-" || substr(Date, 1, 2)))
    from Spacex
    where landing__outcome = 'Success (ground pad)'
    """
)

('2015-12-22',)

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [59]:
sql_fetch(
    sql_connection(),
    """
    select distinct(Booster_Version)
    --select *
    from Spacex
    where 1 = 1
        and upper(Landing__Outcome) like ('SUCCESS%')
        and upper(Landing__Outcome) like ('%DRONE SHIP%')
        and PAYLOAD_MASS__KG_ > 4000
        and PAYLOAD_MASS__KG_ < 6000
    """
)

('F9 FT B1022',)
('F9 FT B1026',)
('F9 FT  B1021.2',)
('F9 FT  B1031.2',)

### Task 7

##### List the total number of successful and failure mission outcomes

In [65]:
sql_fetch(
    sql_connection(),
    """
    select 'Success', count(*)
    from Spacex
    where upper(Mission_Outcome) like ('SUCCESS%')
    union
    select 'Failure', count(*)
    from Spacex
    where upper(Mission_Outcome) like ('FAILURE%')
    """
)

('Failure', 1)
('Success', 100)

### Task 8

##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [69]:
sql_fetch(
    sql_connection(),
    """
    select distinct(Booster_Version), PAYLOAD_MASS__KG_
    from Spacex
    where PAYLOAD_MASS__KG_ = (
        select max(PAYLOAD_MASS__KG_)
        from Spacex
    )
    """
)

('F9 B5 B1048.4', 15600)
('F9 B5 B1049.4', 15600)
('F9 B5 B1051.3', 15600)
('F9 B5 B1056.4', 15600)
('F9 B5 B1048.5', 15600)
('F9 B5 B1051.4', 15600)
('F9 B5 B1049.5', 15600)
('F9 B5 B1060.2 ', 15600)
('F9 B5 B1058.3 ', 15600)
('F9 B5 B1051.6', 15600)
('F9 B5 B1060.3', 15600)
('F9 B5 B1049.7 ', 15600)

### Task 9

##### List the failed landing_outcomes in drone ship, their booster versions, and launch site names for in year 2015

In [73]:
sql_fetch(
    sql_connection(),
    """
    select Landing__Outcome, Booster_Version, Launch_Site, date
    from Spacex
    where 1 = 1
        and upper(Landing__Outcome) like ('%DRONE SHIP%')
        and upper(Landing__Outcome) like ('FAILURE%')
        and date like '%2015'
    """
)

('Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40', '10-01-2015')
('Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40', '14-04-2015')

### Task 10

##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

In [142]:
sql_fetch(
    sql_connection(),
    """
    select Landing__Outcome, count(*) as Landing__Outcome_count
    from Spacex
    where 1 = 1
        and date(substr(Date, 7) || "-" || substr(Date, 4, 2) || "-" || substr(Date, 1, 2)) between '2010-06-04' and '2017-03-20'
    group by Landing__Outcome
    order by Landing__Outcome_count desc
    """
)

('No attempt', 10)
('Success (drone ship)', 5)
('Failure (drone ship)', 5)
('Success (ground pad)', 3)
('Controlled (ocean)', 3)
('Uncontrolled (ocean)', 2)
('Failure (parachute)', 2)
('Precluded (drone ship)', 1)

### Reference Links

*   <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01&origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01&origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01&origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*   <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log

| Date       | Version | Changed by    | Change Description        |
| ---------- | ------- | ------------- | ------------------------- |
| 2021-10-12 | 0.4     | Lakshmi Holla | Changed markdown          |
| 2021-08-24 | 0.3     | Lakshmi Holla | Added library update      |
| 2021-07-09 | 0.2     | Lakshmi Holla | Changes made in magic sql |
| 2021-05-20 | 0.1     | Lakshmi Holla | Created Initial Version   |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>